
.css-5iifl-MuiPaper-root-MuiAppBar-root {
    background-color: #fff !important;
    margin-top: 20px !important;
    width: 95%;
    /* border-radius: 50px; */
    color: #464444 !important;
}
/* HomePage.css */
.slider-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  
  .slide {
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .caption {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  .slick-dots {
    bottom: 10px; /* Adjust dot position */
  }
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
  }
  
  .carousel-overlay:hover {
    background: rgba(0, 0, 0, 0.7); /* Darker on hover */
  }
  .product-card:hover img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }